mixin info()
  - const title = "Исторические<br> даты";
  - const minYear = "2015";
  - const maxYear = "2022";
  -
    const data = [
      {id: "1", min: "2004", max: "2009", text: "Facebook был запущен как социальная сеть для студентов"},
      {id: "2", min: "2008", max: "2013", text: "Первый коммерческий запуск космического корабля SpaceX Falcon 1"},
      {id: "3", min: "2010", max: "2017", text: "iPad Apple был представлен и&#160;начал массовое производство"},
      {id: "4", min: "2015", max: "2022", text: "13&#160;сентября&#160;&#8212; частное солнечное затмение, видимое в&#160;Южной Африке и&#160;части Антарктиды"},
      {id: "5", min: "2016", max: "2023", text: "Телескоп &#171;Хаббл&#187; обнаружил самую удалённую из&#160;всех обнаруженных галактик, получившую обозначение GN-z11"},
      {id: "6", min: "2017", max: "2024", text: "Компания Tesla официально представила первый в&#160;мире электрический грузовик Tesla Semi"},
    ]
  section.info
    h1.visually-hidden!= "Тестовое задание для компании Only"
    .info__container
      h2.info__title!= title
      .info__cont
          .info__year.info__year--min!= minYear
          .info__year.info__year--max!= maxYear
          .info__pag
      .info__slider.swiper
        .info__wrapper.swiper-wrapper
          each item in data
            .info__slide.swiper-slide(data-min=`${item.min}`, data-max=`${item.max}`)
              .info__bold!= item.min
              p.info__text!= item.text
        .info__wrap
          .info__box
            span.info__frac.info__frac--min!= "01"
            span!= "/"
            span.info__frac.info__frac--max!= `0${data.length}`
          .info__bag
            +btn().info__btn.info__btn--prev
              <svg class="info__arrow" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.49988 0.750001L2.24988 7L8.49988 13.25" stroke="#42567A" stroke-width="2"/>
              </svg>
            +btn().info__btn.info__btn--next
              <svg class="info__arrow" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.50012 0.750001L7.75012 7L1.50012 13.25" stroke="#42567A" stroke-width="2"/>
              </svg>
      +btn().info__twin.info__twin--prev
      +btn().info__twin.info__twin--next
