mixin info()
  - const minYear = "1950";
  - const maxYear = "1961";
  -
    const data = [
      { title: 'Технологии', active: true, items: [
        { date: 1950, text: 'Появление транзистора, что стало началом новой эры в&#160;электронике' },
        { date: 1955, text: 'Первый спутник СССР — Спутник-1, запущенный в&#160;космос' },
        { date: 1958, text: 'Создание NASA, американского космического агентства' },
        { date: 1960, text: 'Разработка первых коммерческих компьютеров UNIX' },
        { date: 1961, text: 'Первый полет человека в&#160;космос — Юрий Гагарин' },
        { date: 1961, text: 'Интернет еще не&#160;создан, начальные исследования в&#160;области коммуникаций с&#160;общественностью' },
      ]},
      { title: 'Кино', items: [
        { date: 1963, text: 'Премьера фильма "Ла-Ла Ленд", ставшая классикой музыкального кино' },
        { date: 1965, text: 'Появление первых мультфильмов Disney, завоевавших сердца зрителей' },
        { date: 1968, text: 'Классический фильм "2001: космическая одиссея" стал революцией в киноиндустрии' },
        { date: 1970, text: 'Премьера культового триллера "Молчание ягнят" и&#160;развитие жанра хоррора' },
        { date: 1971, text: 'Появление первого видеомагнитофона, что изменило просмотр фильмов' },
        { date: 1971, text: 'Завершение эпохи "Звездных войн" и&#160;начало новой эры в&#160;научной фантастике' },
      ]},
      { title: 'Литература', items: [
        { date: 1973, text: 'Публикация "Сто лет одиночества" Габриэля Гарсиа Маркеса, открывшая магический реализм' },
        { date: 1975, text: 'Премьера "Убить пересмешника" Харпер&#160;Ли, важное произведение борьбы за&#160;равноправие' },
        { date: 1978, text: 'Публикация "Гарри Поттер и&#160;философский камень" Дж.К. Rowling, начавшая волшебную серию' },
        { date: 1980, text: 'Появление интернета в&#160;массовом доступе, что изменило всю литературную индустрию' },
        { date: 1981, text: 'Премьера "Гарри Поттер и&#160;тайная комната", расширившая вселенную' },
        { date: 1983, text: 'Вышел роман "Мастер и&#160;Маргарита" Михаила Булгакова, считающийся классикой' },
      ]},
      { title: 'Музыка', items: [
        { date: 1985, text: 'Майкл Джексон выпускает альбом "Thriller", ставший самым продаваемым в&#160;истории' },
        { date: 1987, text: 'Появление гэнгста-рэпа, изменившего музыку и&#160;культуру' },
        { date: 1990, text: 'Премьера "Битлз" на&#160;сцене, объединяющая поколения' },
        { date: 1992, text: 'Запуск группы "Nirvana", которая популяризировала гранж-рок' },
        { date: 1994, text: 'Взлет поп-музыки и&#160;массовое распространение новых жанров' },
        { date: 1996, text: 'Появление интернет-радио, расширившее возможности прослушивания музыки' },
      ]},
      { title: 'Спорт', items: [
        { date: 1998, text: 'Зимние Олимпийские игры в&#160;Нагано, Япония, с&#160;новыми рекордами' },
        { date: 2000, text: 'Победа сборной России на&#160;Олимпийских играх в&#160;Сиднее' },
        { date: 2002, text: 'Чемпионат мира по&#160;футболу в&#160;Южной Корее и&#160;Японии, первый в&#160;Азии' },
        { date: 2004, text: 'Олимпийские игры в&#160;Афинах, возвращение к&#160;истокам древней Греции' },
        { date: 2006, text: 'Чемпионат мира по&#160;футболу в&#160;Германии, яркое событие для болельщиков' },
        { date: 2008, text: 'Победа России на&#160;Олимпиаде в&#160;Пекине, новые рекорды и&#160;достижения' },
      ]},
      { title: 'Наука', items: [
        { date: 2011, text: 'Первые космонавты вышли в&#160;космос, расширяя границы человечества' },
        { date: 2013, text: 'Расшифровка полного генома человека, важный шаг в&#160;медицине' },
        { date: 2015, text: 'Запуск миссии "Кассини-Гюйгенс" к&#160;Сатурну, новые открытия' },
        { date: 2017, text: 'Обнаружение гравитационных волн, подтверждение теории Эйнштейна' },
        { date: 2019, text: 'Климатические изменения усилились, вызвав глобальную тревогу' },
        { date: 2022, text: 'Завершение проекта по&#160;расшифровке генома человека, что открыло новые перспективы в&#160;медицине' },
      ]},
    ];
  section.info
    h1.info__title!= "Исторические<br> даты"
    .info__frame
      .info__case
        .info__year.info__year--min!= minYear
        .info__year.info__year--max!= maxYear
        .info__pag
          each slider, i in data
            - const isActive = slider.active ? 'info__cover--active' : ''
            .info__cover(class=`info__cover--${i} ${isActive}`, data-id=`${i}`)
              +btn().info__bullet
                span.info__count!= i + 1
              .info__sign!= slider.title
      .info__wrap
        .info__box
          span.info__frac.info__frac--min!= "01"
          span!= "/"
          span.info__frac.info__frac--max!= `0${data.length}`
        .info__bag
          +btn().info__btn.info__btn--prev
            <svg class="info__arrow" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.49988 0.750001L2.24988 7L8.49988 13.25" stroke="#42567a" stroke-width="2"/>
            </svg>
          +btn().info__btn.info__btn--next
            <svg class="info__arrow" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.50012 0.750001L7.75012 7L1.50012 13.25" stroke="#42567a" stroke-width="2"/>
            </svg>
      each slider, i in data
        - const isActive = slider.active ? 'info__cont--active' : ''
          .info__cont(class=`info__cont--${i} ${isActive}`, data-min=`${slider.items[0].date}`, data-max=`${slider.items[slider.items.length - 1].date}`)
            .info__slider.swiper
              .info__wrapper.swiper-wrapper
                each slide in slider.items
                  .info__slide.swiper-slide
                    .info__bold!= slide.date
                    p.info__text!= slide.text
            +btn().info__twin.info__twin--prev
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
                <path d="M7 1L2 6L7 11" stroke="#3877ee" stroke-width="2"/>
              </svg>
            +btn().info__twin.info__twin--next
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
                <path d="M1 1L6 6L1 11" stroke="#3877ee" stroke-width="2"/>
              </svg>
